@import "../globals/variables";

* {
    box-sizing: border-box;
}

// Global styles
html,
body {
    background-color: $background-color;
    color: $text-color;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

    @media (max-width: 1024px) {
        font-size: 14px;
    }
    @media (max-width: 480px) {
        font-size: 12px;
    }
}

a {
    color: $primary-color;
    text-decoration: none;
}

header {

}

main {
    min-height: calc(100dvh - 5rem - 3rem + 0.5rem );
    padding: 1rem;
}

// Footer
footer {
    display: flex;
    height: 3rem;
    padding: 1rem;
    //border-top: 2px solid $background-color-light;
    background-color: $background-color;
}
