@import "../globals/variables";

* {
    box-sizing: border-box;
}

// Global styles
body {
    background-color: $background-color;
    color: $text-color;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a {
    color: $primary-color;
    text-decoration: none;
}

// Footer
footer {
    display: flex;
    height: 3rem;
    padding: 1rem;
    //border-top: 2px solid $background-color-light;
    background-color: $background-color;
}
