@import "./variables";

.meta {
    display: flex;

    color: $text-color-light;
    font-size: 0.8rem;

    justify-content: space-between;
    align-items: center;

    h4 {
        margin: 0;
        font-weight: bold;
        font-size: 1rem;
    }
}
