@import "variables";

/** Mixin for mobile layout */
@mixin mobile {
    @media (max-width: 480px) {
        @content;
    }
}

/** Mixin for tablet layout */
@mixin tablet {
    @media (min-width: 481px) and (max-width: 768px) {
        @content;
    }
}

/** Mixin for desktop layout */
@mixin desktop {
    @media (min-width: 769px) {
        @content;
    }
}

@mixin mobile-tablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin tablet-desktop {
    @media (min-width: 481px) {
        @content;
    }
}

/** Mixin for page-like layout */
@mixin page-like {
    h2 {
        font-size: 2.5rem;
        margin: 2rem 0 1rem 1.5rem;
    }

    div {
        margin-bottom: 1rem;
    }
}

@mixin page-centered(
    $border-color: $background-color-light,
    $background-color: $background-color
) {
    max-width: 1024px;
    margin: auto;
    background: /* Fade out to the bottom*/
        linear-gradient(0deg,
            $background-color 0px,
            transparent 10px,
        ),
            /* bars left and right */
        linear-gradient(90deg,
            transparent 0px,
            $border-color 5px,
            transparent 10px,
            transparent calc(100% - 10px),
            $border-color calc(100% - 5px),
            transparent calc(100% - 0px),
            transparent 100%
        );
}

@mixin teaser {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 100%;
        max-height: 400px;
    }
}

@mixin trix-content {
    figure {
        display: flex;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        justify-content: center;
        align-items: center;

        img {
            width: auto;
            max-width: 100%;
            max-height: 300px;
        }
    }
}
