@import "../../css/globals/mixins";

.comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 3px solid white;
    border-radius: 5px;
    padding: 0.5rem;

    &__title {
        font-size: 1.5rem;
        display: flex;
        margin: 0;
        border-bottom: 2px solid;
    }
    &__meta {
        border-bottom: 2px solid;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        background: rgba(0,0,0,0.5);
    }
    &__content {
        margin: 0.25rem;
    }
}


.comment-list {
    list-style: none;
    padding: 0;
    background: rgba(0,0,0,0.5);
}

.comment-entry {
    margin-bottom: 1rem;
}

.comment-form {
    display: grid;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 3px solid white;
    border-radius: 5px;
    padding: 0.5rem;

    grid-template-columns: repeat(8, 1fr);
    gap: 0.25rem;

    &__row {
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: subgrid;
        grid-template-rows: auto;
        grid-column: span 8;

        &:fullscreen {
            width: 100%;

            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr auto auto 1fr;

            .comment-form {
                &__captcha-image, &__label, &__input, &__field {
                    grid-column: span 4;
                }
            }
        }
    }

    &__label {
        grid-column: span 2;
        display: flex;

        white-space: nowrap;

        justify-content: center;
        align-items: center;
        &.narrow {
            grid-column: span 1;
        }
        &.wrap{
            white-space: normal;
        }
    }

    &__input {
        grid-column: span 2;
    }

    &__captcha-image {
        position: relative;
        width: 100%;
        margin: 0;
        grid-column: span 3;
        > img {
            width: 100%;
            height: auto;
        }
        > a {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    &__field {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-column: span 4;
        grid-template-columns: subgrid;

        &.column {
            flex-direction: column;
            .comment-form {
                &__label {
                    grid-column: span 4;
                }
                &__input {
                    grid-column: span 4;
                }
            }
        }

        &.full {
            grid-column: span 8;
            .comment-form {
                &__input {
                    grid-column: span 6;
                }
            }
        }
    }

    &__submit {
        grid-column: 4/6;
    }


    &__success {
        grid-column: 1/-1;
        /* color: white; */
        background: rgba(0,255,0,0.5);
        font-weight: bold;
        padding: 0.125rem;
    }

    &__errors {
        grid-column: 1/-1;
        display: flex;
        width: 100%;
        padding: 0.25rem;
        margin: 0;
        gap: 0.25rem;

        list-style: none;

        flex-direction: column;
    }

    &__error {
        display: flex;
        width: 100%;
        background: red;
    }



    @include tablet {

        &__field {
            grid-column: span 4;

            &.full {
                grid-column: span 8;
                .comment-form {
                    &__input {
                        grid-column: span 7;
                    }
                }
            }
        }

        &__label {
            grid-column: span 1;
        }

        &__input {
            grid-column: span 3;
        }
    }

    @include mobile {
        grid-template-columns: repeat(4, 1fr);
        gap: 0.25rem;

        &__row {
            grid-column: span 4;
        }

        &__label {
            grid-column: span 1;
        }

        &__input {
            grid-column: span 3;
        }

        &__field {
            grid-column: span 4;
        }

        &__submit {
            grid-column: 2/4;
        }
    }
}

#comment-content{
    resize: vertical;
    height: 4rem;
}

#comment-title {
    font-size: 1.75rem;
}

