@import "../globals/variables";

.excerpt {
    h3 {
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .link {
        color: $primary-color;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }
}
